.bear-title {
    letter-spacing: 4px;
    color: #EF9C00;
    background-color: #662A84;
    font-weight: bold;
}

.bear-subtitle {
    color: #EF9C00;
    background-color: #662A84;
}

.main-block {
    background-color: #662A84;
}

.your-row {
    margin-bottom: 25px;
}

.photo-row {
    display: flex;
    justify-content: space-evenly;
}

#randomNumber {
    color: #662A84;
}

#losses {
    color: #662A84;
}

#yourNum {
    color: #662A84;
}

#wins {
    color: #662A84;
}
